* {
  box-sizing: border-box;
  }
  
body {
  font-family: Poppins;
}

.container {
  max-width: 1150;
  margin: 0 auto;
}

.gradient {
  background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
} 

header {
  font-size: 15px;
  letter-spacing: 0.2px;
}

img {
  max-width: 100%;
}

.row a {
  color: #FFFFFF;
  text-decoration: none;
}

.header-btn, .title-btn-left, .title-btn-right {
  font-weight: 500;
  color: #FFFFFF;
  padding: 10px 25px;
  border: 1px solid  #FFFFFF;
  border-radius: 39px;
  align-self: center;
  font-size: 16px;
  letter-spacing: 0.2px; 
  text-decoration: none;
}

.header-btn:hover, .title-btn-left:hover, .title-btn-right:hover {
  color: black;
  padding: 10px 25px;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.title-btn {
  justify-content: center;
  display: flex;
}

.title-btn-left, .title-btn-right {
  margin: 5px;
  text-align: center;
}
  
.title-btn-right {
  padding: 10px 30px;
}

.graph-gradient {
  justify-content: center;
  display: flex; 
}

.title {
  letter-spacing: 0.2px;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
  max-width: 631px;
}
   
h1 {
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  margin: 150px 0 0;
}

h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 30px 0 50px;
}

.figmaLand, .quick, .perfectFor, .perfectSolution, .price{
  margin: 70px 0;
}

.content-title-figmaLand, .content-title {
  max-width: 771px;
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #000000;
  margin: 0 auto;
  padding: 60px 0;
}

.content-title-figmaLand {
  text-align: center;
}

.col-figmaLand {
  border: 1px solid #DEDEDE; 
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 20px;
  padding: 60px;
}

.col-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #000000;
}

.col-description {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #5C5C5C;
}

.col-btn a {
  color: #03D6F3;
  text-decoration: none;
}

.col-btn a:hover {
  color: black;
}

.col-img, .col-title, .col-description {
  margin: 40px 0;
}

.content {
  margin: 50px 0;
}

.content-description, .content-description-400, .price-subtitle {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #5C5C5C;
  margin: 40px 0 30px;
  }

.content-description {
  font-weight: 700;
  padding: 0 150px 30px 0;
}

.content-description-400 {
  font-weight: 400;
  padding: 0 150px 30px 0;
}

.content-btn-left,  .content-btn-right, .content-btn{
  background: #03D6F3;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 30px;
}

.content-btn-left:hover, .content-btn:hover, .content-btn-right:hover, .price-btn:hover {
  background: #FFFFFF;
  border: 1px solid #30D7BA;
  color: #30D7BA;
} 
  
.price-subtitle {
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.text {
  text-align: center;
  margin: 0 0 50px;
}

.col-title-price {
  font-weight: 700;
  font-size: 30px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #000000;
}

.col-description-price {
  font-family: Roboto;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #5C5C5C;
  text-align: center;
  margin: 10px 0;
}

.col-price img {
  display: block; 
  margin: 0 auto;
}

.col-active, .col-noActive {
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  text-align: center;
  margin: 20px 0;
}

.col-active {
  color: #000000;
}

.col-noActive {
  color: #5C5C5C;
}

.price-btn {
  background: #03D6F3;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  align-self: center;
  padding: 20px 80px;
  color: #FFFFFF;
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.subscribe-form-btn {
  background: #03D6F3;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 39px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  vertical-align: middle;
  padding: 15px 45px;
}

.subscribe-form-btn:hover {
  background: #FFFFFF;
  border: 1px solid #30D7BA;
  color: #30D7BA;
}

footer {
  background: #112D57;
  padding: 60px 0;
}

.column-left, .column-right {
  display: flex;
  margin-right: 30px;
  justify-content: space-around;
  flex-direction: column;
}

.footer-column {
  display: flex;  
}

.column-inform a, .column-inform {
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #FFFFFF; 
}

.column-inform  {
  margin: 20px 0;
  display: flex;
}

.column-inform-down {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  margin-top: 65px;
}

.tel {
  margin-bottom: 30px;
}

@media (max-width: 1030px) {
  .graph-gradien {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .header-btn, .title-btn-left, .title-btn-right {
    margin-left: 10px;
  }
}  

@media (max-width: 768px) {
  header {
    font-size: 10px;
    margin: 10px;
  }

  .header-btn, .title-btn-left, .title-btn-right {
    margin-left: 10px;
    font-size: 13px;
  }

  h1 {
    font-size: 30px;
    line-height: 25px;
  }

  h2 {
    font-size: 13px;
  }

  .price-btn {
    padding: 10px 40px;
    font-size: 13px;
    margin-bottom: 30px;
  }

  .column-inform-down {
    margin: 20px;
  }
}

@media (max-width: 690px) {
  h1, h2 {
    margin: 50px;
  }

  .content-title-figmaLand, .content-title {
    max-width: 460px;
    font-size: 30px;
    line-height: 40px;
    padding: 40px 0;
  }
  .column-inform-down {
    margin: 20px;
  }

  iframe {
    max-width: 250px;
    max-height: 250px;
  }
}

@media (max-width: 575px) {
  header {
    font-size: 10px;
    margin: 0 50px;
  }

  .header-btn, .title-btn-left, .title-btn-right {
    font-size: 10px;
    padding: 7px 7px;
  }

  .col-xs-4,  .col-xs-1 {
    margin: 5px;
  }

  iframe {
    max-width: 250px;
    max-height: 250px;
  }

  .subscribe-form-btn {
    margin: 20px;
  }
}

@media (max-width: 425px) {
  .content-title-figmaLand, .content-title {
    max-width: 350px;
    font-size: 25px;
    line-height: 20px;
    padding: 20px 0;
  }

  .content-description {
    padding: 30px;
  }

  .content-description, .content-description-400, .price-subtitle {
    font-size: 12px;
    line-height: 15px;
    padding: 0;
    margin: 20px;
}

  .content-btn-left, .content-btn-right,  .content-btn {
    font-size: 12px;
    padding: 7px 15px;
  }

  .subscribe-form-btn {
    margin: 20px;
  }

  .col-img, .col-title, .col-description {
    margin: 20px 0;
  }
  .col-title {
    font-size: 17px;
    line-height: 20px;
  }

  .col-description {
    font-size: 10px;
    line-height: 17px;
  }

  .col-figmaLand {
    padding: 20px;
  }

  .price-btn {
    margin-bottom: 30px;
  }

  .container {
    max-width: 350px;
    padding: 0 30px;
  } 

  iframe {
    max-width: 200px;
    max-height: 200px;
  }

}  



  










 

  


  






